// Inline turns list items into inline-block

.list {
  &-inline-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $list-inline-padding;
    }
  }

  &-indent-none {
    padding-left: 20px;
  }

  &-definition-justified {
    display: flex;
    justify-content: space-between;

    + .list-definition-justified {
      margin-top: $spacing-3;
    }
    > dt {
      font-weight: bold;
      color: $black;
    }
    > dd {
      text-align: end;
      margin-bottom: 0;
    }
  }
}

.dl-primary {
  > dt {
    color: $primary;
    font-weight: 600;
    margin-top: $spacing-6;
    @include media-breakpoint-up(md) {
      margin-top: $spacing-5;
      flex: 0 0 auto;
      width: 304px;
    }
  }

  > dd {
    margin-top: $spacing-2;
    @include media-breakpoint-up(md) {
      margin-top: $spacing-5;
      flex: 1 0;
      width: auto;
    }
  }
}
